maps/
__pycache__/
ImageProgression.drawio
sat2mapDisc_v1.3.pth
sat2mapGen_v1.3.pth
test.py
app_model180.py
app.py
config.py
Generator.py
Pix2Pix.ipynb
pix2pix.py
model_50_epochs.h5
model_100_epochs.h5
model_150_epochs.h5
model_180.h5
archive/
saves
templates/index.html
templates/index180.html
