/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

/* Navbar Styles */
.navbar {
  background-color: #45a049;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  margin-right: auto;
}

.navbar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

/* Header Styles */
.header {
  background-color: #45a049;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: relative;
}

.header::before {
  content: "";
  background: url("static/video1.mp4") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  z-index: -1;
}

.header .video-container {
  max-width: 25%;
  margin-right: 10px;
}

.header .video-container video {
  width: 100%;
  border-radius: 20px;
}

.header .text-content {
  max-width: 65%;
  text-align: left;
  padding: 0 20px;
}

.header h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.header p {
  font-size: 16px;
  color: #ffffff;
}

/* Container Styles */
.container {
  max-width: 90%;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container form input[type="file"] {
  display: none;
}

.container form label.btn {
  font-family: "Poppins", sans-serif;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
}
.container form label.btn:hover {
  background-color: #2a5b1c;
}
.container form button[type="submit"] {
  font-family: "Poppins", sans-serif;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 30px;
  font-weight: bold;
}

.container form button[type="submit"]:hover {
  background-color: #2a5b1c;
}

/* Image Display Styles */
.imageDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.imageDisplay img {
  width: 45%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .container form input[type="file"] {
    width: 100%;
    margin-bottom: 10px;
  }

  .container form label.btn,
  .container form button[type="submit"] {
    width: 100%;
  }

  .imageDisplay img {
    width: 100%;
  }
}
